<p>Welcome {{name}},</p>
<p>Thank you for signing up to Grow2. Please click the button below to confirm your email address and enter your password.</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="http://www.grow2.com.au/confirm?token={{token}}" target="_blank">Confirm email</a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>
  If the above link does not work, paste the following URL in your browser: <br>
  <a href="http://www.grow2.com.au/confirm?token={{token}}">http://www.grow2.com.au/confirm?token={{token}}</a>
</p>
<p>
  Regards,<br>
  Grow2
</p>
