<div class="Wallpaper">
  <div class="container container--small">
    <div class="text-centered">
      <h2 class="ResetPassword__title flat">Set your password</h2>
      <div class="form__group ResetPassword__account">
        <p class="small pressed">Please set your password below to continue.</p>
        <div class="input ResetPassword__email">{{email}}</div>
      </div>
    </div>
    <div class="Card">
      <div class="Card__body">
        <form slot="body" @submit.prevent="submit">
          <div class="form__group">
            <label class="label" for="student-password">Password</label>
            <input type="password" class="input" id="student-password" v-model="password">
          </div>
          <div class="form__group">
            <label class="label" for="student-password-confirm">Confirm password</label>
            <input type="password" class="input" id="student-password-confirm" v-model="passwordConfirm">
          </div>
          <div class="form__footer">
            <button class="btn btn--block" :disabled="submitting">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
