<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>Grow2 - Build high performing sporting clubs</title>
    <link rel="shortcut icon" href="landing/images/logo-circle.png">
    <link rel="apple-touch-icon" href="landing/images/logo-circle.png">
    <link rel="stylesheet" href="landing/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <main>
      <header class="section hero">
        <img src="/landing/images/bg.png" class="hero__bg" alt="" id="hero-bg">
        <div class="container hero__container">
          <header class="header">
            <div class="logo">
              <img src="landing/images/logo-circle.svg" alt="Grow2" class="logo__img">
              <span class="logo__text">Grow2</span>
            </div>
            <div class="flex header__desktop">
              <a href="/dashboard" class="header__btn">
                Sign in as Creator
              </a>
              <a href="/app" class="header__btn">
                Sign in as Member
              </a>
            </div>
            <div class="header__mobile">
              <div class="dropdown" id="linksDropdown">
                <a href="#" class="header__btn dropdown__toggle">
                  Sign in
                </a>
                <div class="dropdown__menu" id="loginlinks">
                  <a href="/dashboard" class="dropdown__link">
                    Sign in as Creator
                  </a>
                  <a href="/app" class="dropdown__link">
                    Sign in as Member
                  </a>
                </div>
              </div>
            </div>
          </header>
          <div class="hero__content">
            <h1 class="hero__title">Build high performing <br /><span id="looped">sporting</span> clubs</h1>
            <p>Grow2 provides a multi featured platform to help sporting clubs create content. Our vision is to help your club build culture, skills, progression plans, facility information and much more. This information can be stored and delivered directly to anyone in your club</p>
            <div class="hero__btns">
              <a href="#signup-section" class="btn">Begin free trial</a>
              <a href="#pricing-section" class="btn btn--secondary">See pricing</a>
            </div>
          </div>
          <div class="iphone hero__example">
            <div class="iphone-top">
              <span class="camera"></span>
              <span class="sensor"></span>
              <span class="speaker"></span>
            </div>
            <div class="top-bar"></div>
            <div class="iphone-screen" style="background-image: url(/landing/images/grow2-card.png)">
            </div>
            <div class="buttons">
              <span class="on-off"></span>
              <span class="sleep"></span>
              <span class="up"></span>
              <span class="down"></span>
            </div>
            <div class="bottom-bar"></div>
            <div class="iphone-bottom">
              <span></span>
            </div>
          </div>
        </div>
      </header>
      <section class="section section--company section--spaced">
        <div class="container">
          <header class="section__header">
            <h2 class="flat">Why your club will love Grow2</h2>
            <p>Helping clubs perform better than ever</p>
          </header>
          <div class="grid">
            <div>
              <h4 class="flat">Club Culture</h4>
              <p>Build content about the history of your club, interview past players.</p>
            </div>
            <div>
              <h4 class="flat">Code of Conduct</h4>
              <p>Ensure all players, members and parents are aware of the way behave during sport.</p>
            </div>
            <div>
              <h4 class="flat">Deliver information</h4>
              <p>Times have change with the current COVID-19 situation, ensure correct information and upcoming events about your club are delivered
              directly to your members.</p>
            </div>
            <div>
              <h4 class="flat">Facility information</h4>
              <p>Progressively improve your facilities with new committee knowing what has been completed and what has been planned for the future. Grow2 provides a basic 12 month field maintenance program with every sign up.</p>
            </div>
          </div>
          <img src="landing/images/wizard.png" alt="" class="wizard-screen section__figure">
        </div>
      </section>
      <section class="section section--learning">
        <div class="container">
          <h3 class="title">Learning is a team effort</h3>
          <div class="section__figure">
            <div class="triangle triangle--club" id="triangle">
              <div>
                <div class="triangle__message">Investment</div>
                <div class="triangle__message">Investment</div>
                <div class="triangle__message">Investment</div>
              </div>
              <div>
                <div class="triangle__arrows"></div>
                <div class="triangle__arrows"></div>
                <div class="triangle__arrows"></div>
              </div>
              <div>
                <div class="triangle__point">
                  <div class="triangle__avatar">
                    <img src="landing/images/student.png" class="school" alt="">
                    <img src="landing/images/employee.png" class="club" alt="">
                  </div>
                  <span class="triangle__label school">Student</span>
                  <span class="triangle__label club">Player</span>
                </div>
                <div class="triangle__point">
                  <div class="triangle__avatar">
                    <img src="landing/images/teacher.png" class="school" alt="">
                    <img src="landing/images/trainer.png" class="club" alt="">
                  </div>
                  <span class="triangle__label school">Teacher</span>
                  <span class="triangle__label club">Club</span>
                </div>
                <div class="triangle__point">
                  <div class="triangle__avatar">
                    <img src="landing/images/parent.png" class="school" alt="">
                    <img src="landing/images/employer.png" class="club" alt="">
                  </div>
                  <span class="triangle__label club">Parent</span>
                  <span class="triangle__label school" class="">Parent</span>
                </div>
              </div>
            </div>
            <div class="toggle">
              <div class="toggle__option toggle__option--on" data-toggle="club">Club</div>
              <div class="toggle__option" data-toggle="school">School</div>
            </div>
          </div>
          <p>Learning is a team effort. Soon parents will be able to receive notifications on the training courses their child receives. Our goal is for all major sporting identities to deliver important information to junior players on physical education, strength and conditioning,
          nutrition, mental health awareness and much more. As a parent you will be able to monitor your child’s progression on this information.</p>
        </div>
      </section>
      <section class="section section--seperated section--evidence">
        <div class="container">
          <h3 class="title">Learn by doing</h3>
          <p>With Grow2 coaches can create tasks for their players to complete. Our easy to use app will soon let members capture their abilities and
          send photos/videos back to their coach for feedback.</p>
          <div class="section__figure">
            <div class="evidence">
              <div class="evidence__thumb">
                <footer>
                  <div class="evidence__tag">Submitted</div>
                  <span>Uploaded 2 days ago</span>
                </footer>
              </div>
              <div class="evidence__body">
                <h4 class="evidence__title">Fast feet agility drills</h4>
                <p class="flat">Complete this drill in under 4 minutes.</p>
              </div>
            </div>
          </div>
          <p>We are big believers in this kind of thinking. Learning through reflection is proven to be more efficient than passive learning like reading or listening.</p>
          <p>With <strong>Grow2</strong> you can create tasks for your members to demonstrate their capabilities. Our easy to use mobile apps allow members to capture themselves performing designated tasks and instantly upload for your approval.</p>
        </div>
      </section>
      <section class="section section--pricing">
        <div class="container">
          <div class="pricing-wrapper" id="pricing-section">
            <div class="pricing-wrapper__intro text-centered">
              <h2 class="text-centered pressed">Ready, Set, Grow</h2>
              <p>It's time for your club to be the best it can be.</p>
            </div>
            <div class="pricing">
              <div class="pricing__plans">
                <div class="pricing-col">
                  <div class="pricing-col__header">
                    <h3 class="pricing-col__title flat">Founding club</h3>
                    <small>Be one of the first 100 clubs to join</small>
                  </div>
                  <div class="pricing-col__value pricing-col__value--price">
                    <div class="pp">
                      <strong class="pp__value">$100<b>/</b></strong>
                      <div class="pp__meta"><i>month</i><span>ex. GST</span></div>
                    </div>
                    <div class="pp pp--strike">
                      <strong class="pp__value">$200<b>/</b></strong>
                      <div class="pp__meta"><i>month</i><span>ex. GST</span></div>
                    </div>
                  </div>
                  <div class="pricing-col__features">
                    <ul class="flat unstyled pricing-col__list">
                      <li>1 Content Creator</li>
                      <li>Unlimited video</li>
                      <li>Unlimited audio</li>
                      <li>Unlimited members</li>
                      <li>Committee meeting template</li>
                      <li>Club history template</li>
                      <li>12 months field maintenance content</li>
                      <li class="pricing-col__break">How to guides</li>
                      <li>1hr video call</li>
                      <li>Access to group forum</li>
                      <li>Continued content from sporting bodies</li>
                    </ul>
                  </div>
                  <div class="pricing-col__footer">
                    <a href="#signup-section" class="btn">Begin 30 day trial</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer" id="signup-section">
      <div class="container container--small">
        <form action="" class="signup-form" id="signup-form">
          <div class="signup-form__form">
            <div class="logo logo--stacked">
              <img src="landing/images/logo-circle.svg" alt="Grow2" class="logo__img logo__img--large">
            </div>
            <div class="text-centered">
              <h2 class="pressed hero__title">Begin your free trial</h2>
              <p>30 day free trial. No credit card required.</p>
            </div>
            <div class="form__group">
              <label for="signup-first">First name</label>
              <input type="text" class="input" id="signup-first" placeholder="John" autocomplete="off" required>
            </div>
            <div class="form__group">
              <label for="signup-last">Last name</label>
              <input type="text" class="input" id="signup-last" placeholder="Smith" autocomplete="off" required>
            </div>
            <div class="form__group">
              <label for="signup-email">Email</label>
              <input type="email" class="input" id="signup-email" placeholder="john@smith.com" autocomplete="off" required>
            </div>
            <hr>
            <div class="form__group">
              <label for="signup-company">Name of sporting club</label>
              <input type="text" class="input" id="signup-company" placeholder="Southside Devils" autocomplete="off" required>
            </div>
            <div class="form__group">
              <button type="submit" id="signup-form-action" class="btn btn--block signup-form__action">
                <span>Sign up</span>
                <span>Creating account&hellip;</span>
              </button>
            </div>
          </div>
          <div class="signup-form__thanks text-centered">
            <h1 class="hero__title">Welcome to Grow2!</h1>
            <p>We're so happy you could join us. You are not far away from the best club experience available.</p>
            <p>Please check the email below to complete your signup.</p>
            <div class="signup-form__email" id="signup-form-to"></div>
          </div>
          <div class="signup-form__error text-centered">
            <h2 class="hero__title">Something went wrong!</h2>
            <p>We are not sure why but there was an error on our end. <br>Please try again later.</p>
            <button class="btn" onclick="window.location.reload(true)">Try again</button>
          </div>
        </form>
      </div>
    </footer>
    <div class="legal">
      <div class="container">
        <h4 class="legal__title pressed">Contact us</h4>
        <div class="legal__wrap">
          <ul class="socials">
            <li>
              <a target="_blank" href="https://www.facebook.com/Grow2sports/"><i class="fab fa-facebook"></i> Like us on Facebook</a>
            </li>
            <li>
              <a href="mailto:contact@grow2.com.au"><i class="fas fa-envelope"></i> Email us</a>
            </li>
          </ul>
          <div class="legal__small">
            <p class="pressed">
            <small><a href="#">Terms &amp; Conditions</a> | Grow2 © 2020</small>
            </p>
            <p>
            <small>Built by <a href="https://dcubed.com.au">DCUBED</a></small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {

        const toggleOptions = document.querySelectorAll(".toggle__option");
        const triangle = document.querySelector("#triangle");
        const dropdown = document.getElementById('linksDropdown');
        const looped = document.getElementById('looped');
        const heroBg = document.getElementById('hero-bg');
        const headings = [
          'rugby league',
          'soccer',
          'rugby union',
          'athletic',
          'swimming',
          'hockey',
          'gridiron',
          'cricket',
          'lawn bowls',
          'basketball',
          'netball',
          'tennis',
          'hockey'
        ];
        let headingIndex = 0;

        toggleOptions.forEach(function(option) {
          option.addEventListener("click", function(e) {
            document.querySelector(".toggle__option--on").classList.remove("toggle__option--on");
            e.target.classList.add("toggle__option--on");
            if(e.target.dataset.toggle === "school") {
              triangle.classList.remove("triangle--club");
              triangle.classList.add("triangle--school");
            }
            if(e.target.dataset.toggle === "club") {
              triangle.classList.remove("triangle--school");
              triangle.classList.add("triangle--club");
            }
          });
        });

        dropdown.querySelector('.dropdown__toggle').addEventListener('click', function(e) {
          e.preventDefault;
          dropdown.classList.toggle('dropdown--open');
        })


        const intervalId = setInterval(function() {
          looped.innerHTML = '<i>' + headings[headingIndex] + '</i>';
          if (headingIndex == (headings.length - 1)) {
            headingIndex = 0;
            //you can even clear interval here to make heading stay as last one in array
            //cleanInterval(intervalId);

          } else {
            headingIndex++;
          }
        }, 3000)

        heroBg.onload = () => {
          heroBg.classList.add('hero__bg--visible');
        }

        heroBg.src = 'landing/images/bg.png';

      });

      document.getElementById("signup-form").addEventListener("submit", function(e) {
        e.preventDefault();
        const email = document.getElementById('signup-email').value;
        $.ajax({
          url: "/register",
          method: "POST",
          data: {
            name: document.getElementById('signup-company').value,
            first_name: document.getElementById('signup-first').value,
            last_name: document.getElementById('signup-last').value,
            email: email
          },
          beforeSend: function() {
            document.getElementById('signup-form').classList.add('signup-form--loading');
            document.getElementById('signup-form-action').setAttribute('disabled', true);
          },
          success: function( result ) {
            document.getElementById('signup-form').classList.add('signup-form--success');
            document.getElementById('signup-form-to').innerHTML = email;
          },
          error: function( err ) {
            document.getElementById('signup-form').classList.add('signup-form--error');
          }
        });
      })

    </script>
  </body>

</html>
