@import "../../../sass/variables.scss";

.Quiz {
  background: #fff;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.Quiz__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.Quiz__close {
  color: $lightBlue;
  font-weight: 600;
  cursor: pointer;
}

.Quiz__close:hover {
  color: darken($lightBlue, 10),
}

@keyframes showAnswer {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Quiz__answer {
  display: block;
  width: 100%;
  background: #ededed;
  padding: 1rem;
  border-radius: $radius;
  border: 0;
  text-align: left;
  transition: all 200ms ease;
  outline: 0;
  margin-bottom: 1rem;
  opacity: 0;
  animation: showAnswer 200ms 50ms ease forwards;
  &:nth-child(2) { animation-delay: 100ms }
  &:nth-child(3) { animation-delay: 150ms }
  &:nth-child(4) { animation-delay: 200ms }
  &:nth-child(5) { animation-delay: 250ms }
}

.Quiz__answer--clicked.Quiz__answer--correct {
  background: $green;
  color: #fff;
  border-color: $green;
}

.Quiz__answer--clicked.Quiz__answer--wrong {
  font-weight: 900;
  background: red;
  color: #fff;
  border-color: red;
}

.Review {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100% + 2rem); // dodgy
  margin: -1rem;
  margin-bottom: 0;
}

.Review__close {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem !important;
  color: #fff;
  cursor: pointer;
}

.Review__top {
  flex: 1;
  padding: 2rem;
  padding-bottom: 0;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Review__title {
  color: #fff;
  font-size: 2.25rem;
}

.Review__bottom {
  padding: 1rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
}

@keyframes showFooter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Review__footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: showFooter 200ms 300ms ease forwards;
  .btn {
    flex: 1;
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

@keyframes showBadge {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Review__badge {
  position: relative;
  text-align: center;
  opacity: 0;
  animation: showBadge 200ms ease forwards;
  width: 280px;
  height: 280px;
}

// lazy
.Review__img {
  opacity: 0;
  transition: all 200ms 100ms ease;
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 0rem;
  height: 276px;
  background-size: cover;
  &.visible {
    opacity: 1;
  }
}

.Review__img--correct {
  background-image: url('/assets/img/correct.png');
}

.Review__img--incorrect {
  background-image: url('/assets/img/incorrect.png');
}


.Review__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  color: #fff;
  margin-top: -1rem;
}

.Review__correct {
  font-size: 5rem;
  margin-bottom: 0;
  font-weight: 900;
}

.Review__total {
  font-size: 1.25rem;
}
