@import "../../../sass/variables.scss";

.BusinessProfile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
}

.BusinessProfile__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
}

.BusinessProfile__title {
  height: 3rem;
}

.BusinessProfile__form {
  height: 48px;
  display: flex;
  align-items: center;
}
