<transition name="Modal">
  <Modal @close="$emit('close')">
    <Card slot="body" title="Add to Business">
      <form @submit.prevent="submit" slot="body">
        <div class="form__group">
          <label class="checkbox" :for="'student-business-item-' + index" v-for="(business, index) in businesses" v-if="index > 0">
            <input type="checkbox" :id="'student-business-item-' + index" :value="business.id" v-model="businessIds">
            {{ business.name }}
          </label>
        </div>
        <div class="form__footer">
          <button class="btn btn--block" :disabled="submitting">Assign</button>
        </div>
      </form>
    </Card>
  </Modal>
</transition>
