<div :class="{
    'StudentHeader' : true,
    'StudentHeader--clear' : $route.name === 'studentCourse'
    }">
  <router-link :class="{ 'StudentHeader__logo--back' : $route.name != 'studentHome' }" class="Logo flat StudentHeader__logo" :to="backLink">
    <div class="Logo__icon"></div>
  </router-link>
  <div :class="{
    'StudentHeader__wrap' : true,
    'StudentHeader__wrap--home' : $route.name === 'studentHome',
    'StudentHeader__wrap--course' : $route.name === 'studentCourse',
    'StudentHeader__wrap--card' : $route.name === 'studentCard',
    }">
    <h1 class="StudentHeader__title flat">Assigned content</h1>
    <a class="StudentHeader__course flat">
      <i class="icon course"></i>
      {{ courseName }}
    </a>
    <div class="StudentHeader__unit-card">
      <h3 class="StudentHeader__unit flat">{{ activeStudentCard.name }}</h3>
      <h4 class="StudentHeader__card flat">{{ activeStudentUnitName }}</h4>
    </div>
  </div>
  <div class="Notification">
    <transition name="slide-fade">
      <!-- Header Navigation Menu Icons -->
      <button class="Notification__trigger" v-if="show" key="on" @click="show = false">
        <i class="fal fa-times Notification__icon"></i>
      </button>
      <button class="Notification__trigger" v-else key="off" @click="show = true">
        <i class="fal fa-bell Notification__icon"></i>
        <span class="Notification__badge">{{ notificationCount }}</span>
        <!-- <svg viewBox="0 0 24 24" class="header--icon">
          <title>Navigation Menu</title>
          <path fill="currentColor" d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z" />
        </svg> -->
      </button>
    </transition>
    <!-- Dropdown Menu -->
    <transition name="dropdown">
      <div class="dropdown__menu" v-bind:class="{ active: show }" v-if="show">
        <ul class="dropdown__menu-nav">
          <li class="dropdown__menu-item dropdown__menu-header">
            <h4 class="dropdown__menu-heading">Notifications</h4>
          </li>
          <li class="dropdown__menu-item" v-for="notification in notifications">
            <a href="#" class="dropdown__menu-link">
              <div class="dropdown__menu-text" v-html="notification.message"></div>
            </a>
          </li>
        </ul>
      </div>
    </transition>
  </div>
  <AudioPlayer ref="player" v-if="activeStudentCard.audio"></AudioPlayer>
</div>
