<transition name="Modal">
  <Modal @close="$emit('close')">
    <Card slot="body" title="Add a unit">
      <form @submit.prevent="submit" slot="body">
        <div class="form__group">
          <label class="label" for="unit-name">Name</label>
          <input type="text" class="input" id="unit-name" v-model="name" v-focus="modals.addUnit" autocomplete="off" required>
        </div>
        <div class="form__footer">
          <button class="btn btn--block" :disabled="submitting">Create</button>
        </div>
      </form>
    </Card>
  </Modal>
</transition>
