<div class="Course" v-if="currentCourse">
  <SlickList class="Units" v-if="currentCourse.units"
    axis="x"
    lockAxis="x"
    v-model="currentCourse.units"
    helperClass="grabbing"
    @input="sortUnits"
  >
      <SlickItem v-for="(unit, index) in currentCourse.units"
        class="Units__list"
        :index="index"
        :key="'slick-item-unit-' + unit.id"
      >
        <UnitList
          :name="unit.name"
          :unit-id="unit.id"
          :course-id="route.params.courseId"
          :key="'unit-' + unit.id"></UnitList>
      </SlickItem>
      <div class="Card Card--action Units__list" @click="toggleModal('addUnit')">
        <div class="Card__body">
          <i class="fal fa-plus" style="margin-right: 1rem; margin-top: -2px"></i> Add a unit
        </div>
      </div>
  </SlickList>
</div>
