@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Units {
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -1rem;
  margin: -1rem;
  margin-left: -3rem;
  height: calc(100vh - 4rem);
  padding: 1rem;
  padding-left: 2rem;
}

.Units__list {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  white-space: normal;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
