<transition name="Modal">
  <Modal @close="$emit('close')">
    <Card slot="body" title="Invite member">
      <form slot="body" @submit.prevent="submit">
        <div class="form__group">
          <label class="label" for="student-email">Email</label>
          <input type="email" placeholder="john@smith.com" class="input" id="student-email" v-model="email" v-focus="modals.addStudent">
        </div>
        <div v-if="showAutosuggest && email">
          <div v-for="student in autosuggestStudents" @click="selectAutosuggest(student.email)">
            {{student.first_name}}
            {{student.last_name}}
            <span>{{student.email}}</span>
          </div>
        </div>
        <div class="form__group" v-if="businesses.length > 1">
          <label class="label">Add to Team (optional)</label>
          <!-- WARNING: always hide first business -->
          <label class="checkbox" :for="'student-item-' + index" v-for="(business, index) in businesses" v-if="index > 0">
            <input type="checkbox" :id="'student-item-' + index" :value="business.id" v-model="businessIds">
            {{ business.name }}
          </label>
        </div>
        <div class="form__footer">
          <button class="btn btn--block" :disabled="submitting">Send Invite</button>
        </div>
      </form>
    </Card>
  </Modal>
</transition>
