@import "../../../sass/variables.scss";

.Admin {
  min-height: 100%;
  background: $offWhite;
}

.Admin--mask {
  height: 100vh;
  overflow: hidden;
}

.Admin__expired {
  z-index: 9999;
  flex-direction: column;
  h1 {
    color: #fff;
  }
}

.Admin__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.Admin__banner {
  background: $orange;
  color: #fff;
  font-size: 14px;
  padding: 0.75rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease;
  &:hover {
    background: lighten($orange, 1);
  }
  button {
    display: none;
    font-size: 11px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 8px;
    animation: fadeIn 200ms ease;
    background-color: transparent;
    cursor: pointer;
  }
  i { margin-right: 4px }
}

.Admin__sidebar--open .Admin__warning {
  display: none;
}

.Admin__sidebar--open .Admin__upgrade {
  display: block;
}

.Admin__invite {
  position: absolute;
  top: 0.687rem;
  right: 1rem;
}

.Admin__delete {
  background: none;
  box-shadow: none;
  border: 0;
  line-height: 1.5;
  opacity: 0.5;
  position: absolute;
  top: 0.733333333rem;
  right: 11rem;
  color: $blue;
}

.Admin__logout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  opacity: 0;
  z-index: 50;
  transform: translateX(-60px); // is this the sidebar tab in px?
  background: #403d6a;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.25);
}

.Admin__logout a {
  background: rgba(0,0,0,0.25) !important;
  color: #fff !important;
  &:hover {
    background: rgba(0,0,0,0.5);
  }
}

.Admin__main {
  flex: 1;
  position: relative;
  padding: 1rem;
  padding-top: 0;
  padding-left: 5.125rem;
  padding-top: 5rem;
}

.Admin__sidebar .Logo {
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 0;
  display: flex;
  height: 4rem;
  align-items: center;
  transition: all 200ms ease;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.Admin__sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 17.5rem;
  z-index: 500;
  color: #fff;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  transform: translateX(calc(-100% + 3.125rem));
  z-index: 500;
  box-shadow: 5px 0 10px rgba(0,0,0,0.25);
  transition: transform 375ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Admin__sidebar .Logo__icon { margin-right: 12px; }

.Admin__sidebar .Logo,
.Admin__sidebar .Loading,
.Admin__sidebar .Browse {
  opacity: 0;
  transform: translateX(-3.125rem);
}

.Admin__sidebar--open {
  transform: translateX(0);
  .Admin__logout,
  .Logo,
  .Browse {
    transform: translateX(0);
    opacity: 1;
  }
}

.Admin__sidebar-title {
  color: #fff;
  position: relative;
  margin-right: 3rem;
  margin-bottom: 0.25rem;
}

.Admin__sidebar-title i {
  position: absolute;
  top: -8px;
  right: -3rem;
  display: block;
  font-size: 0.875rem;
  text-align: center;
  height: 2.25rem;
  width: 2.25rem;
  line-height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;
  transform: translateZ(0);
}

.Admin__sidebar-title i:hover {
  background: $green;
  color: #fff;
  box-shadow: $boxShadowFloat;
  transform: scale(1.1);
}

.Admin__navicon {
  position: absolute;
  top: 0.8125rem; // 13px
  right: 0.5rem; // 8px
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem !important;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
  z-index: 20;
  border-radius: $radius;
  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.Admin__navicon--close {
  right: 1.0625rem; // 17px
}

.Admin__sidebar .Logo:hover {
  background: rgba(0,0,0,0.1);
}

.Admin__toolbar {
  z-index: 100;
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  background: #fff;
  padding-left: 2rem;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 3.125rem;
}

.Switch {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 500;
  color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.Switch:hover {
  opacity: 1;
}

.Loading__group {
  margin-bottom: 2rem;
}

.Loading__title {
  width: 40%;
  height: 1rem;
  background: rgba(255,255,255,0.25);
  border-radius: $radius;
  margin-bottom: 1rem;
}

.Loading__item {
  width: 100%;
  background: rgba(0,0,0,0.15);
  height: 1rem;
  margin-bottom: 0.25rem;
  border-radius: $radius;
}

@media(min-width: 1200px) {

  .Admin__sidebar,
  .Admin__sidebar--open {
    box-shadow: none;
    transform: none;
    left: 0;
  }

  .Admin__navicon {
    display: none !important;
  }

  .Admin__sidebar .Logo,
  .Admin__sidebar .Browse {
    opacity: 1;
    transform: none;
  }

  .Admin__main {
    padding-left: 19.5rem;
  }

  .Admin__toolbar {
    left: 17.5rem
  }

  .Admin__banner i { display: none }
  .Admin__banner button { display: block }

  .Admin__logout {
    transform: none;
    opacity: 1;
  }

}

.empty-content {
  // As big as screen minus toolbar and padding
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  > div {
    // Bring content back up half of the
    transform: translateY(-2.5rem)
  }
}

// Startup animation

@keyframes showSidebar {
  0% {
    opacity: 0;
    transform: translateX(-2rem)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
    transform: translateY(2rem)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes showToolbar {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

.Admin__sidebar-head {
  padding: 1rem;
  padding-bottom: 0;
}

.Admin__sidebar-body {
  height: calc(100% - 97px);
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 82px;
}
